<div class="awards">
  {% if site.awards != blank %}
    <ul>
      {% for award in site.awards %}
        <li>
          <strong>{{ award.title }}</strong> 
          ({{ award.years | join: ", " }}): {{ award.description }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No awards so far...</p>
  {% endif %}
</div>